@charset "utf-8";
/* casestyle.css */
.notback{background-color:grey;}
.notback > p:hover{background-color:#3BAFDA;} 
.notback > p > a {color: #FFFBFB;}
.noticebox{height: 600px; overflow: scroll;}
.pull-left{float: left;}
.pull-right{float: right;}
.clear{clear: both;}
.centerag{margin-left: 5%;}
#chgsta{font-size: 15px;}
.showmsg{display:none;font-weight: bold;}
.blue{color: #7B84CC;}
.red{color:red;}
.colorrow{background: #ff0000;}
.colorrow1{background: #ff0000;}
.colorrow2{background: #BFBF1B;}
.colorrow3{background: rgba(32, 216, 32, 0.64);}
.managercomtd{height: 50px; overflow-y:auto;}
.passport{height: 200px; width: 170px;}
.smthumbnail{height: 90px; width: 90px;}
.notelabel{margin-bottom: 0; padding-top: 10px; text-align: left;}
.smthumbnail img{height: 90px; width: 90px; margin-top: 0px !important; background-color: #ffffff; border: 2px solid #dddddd; border-radius: 1px; }
.tablelink{color: antiquewhite;}
.overlay {background: rgba(50,50,50,0.5); position: absolute; top: 0; left: 0; width: 100%; bottom: 0; z-index: 99999;}
#preloader {padding-left:50%; margin-top:10%;}
.overlay-text {padding-left:40%; font-size:21px; color:#FFF;}
.centeralbutton{margin-left:35%;}
.labrep{margin-left:10px;}
.onethird{width:30%;}
.btseqsort{margin-left:43px;border: 1px solid transparent;border-color: rgba(0, 0, 0, 0);white-space: nowrap;padding: 9px 12px;font-size: 13px;line-height: 1.5;}
.msgcaseseq{margin-left:43px;font-size:16px;}
.tplhidclass{display: none;}

	#demos section {
			overflow: hidden;
		}
		.sortable {
			width: 310px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		.sortable.grid {
			overflow: hidden;
		}
		.sortable li {
			list-style: none;
			border: 1px solid #CCC;
			background: #F6F6F6;
			color: #1C94C4;
			margin: 5px;
			padding: 5px;
			height: 22px;
		}
		.sortable.grid li {
			line-height: 80px;
			float: left;
			width: 80px;
			height: 80px;
			text-align: center;
		}
		.handle {
			cursor: move;
		}
		.sortable.connected {
			width: 200px;
			min-height: 100px;
			float: left;
		}
		li.disabled {
			opacity: 0.5;
		}
		li.highlight {
			background: #FEE25F;
		}
		li.sortable-placeholder {
			border: 1px dashed #CCC;
			background: none;
		}